.galleryWrapper {
  overflow: hidden;
  width: 100%;
  height: 220px;
  position: relative;
  border: 4px solid white;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
}

.scrollTrack {
  display: flex;
  gap: 12px;
  animation: scrollLeft 60s linear infinite;
  width: fit-content;
}

.nftImage {
  height: 180px;
  width: auto;
  border: 4px solid aqua;
  border-radius: 12px;
  object-fit: contain;
}

/* Animation keyframes */
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
