.StoryMainContainer {
  background-color: black;
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.Heading {
  background-color: var(--c2);
  font-size: 3em;
  padding: 7px 1em;
  align-items: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 900;
  color: black;
  font-family: var(--my-font);
}

.description {
  color: black;
  margin: 1em 5em;
  padding: 1em;
  border-radius: 1em;
  font-weight: 700;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  background: var(--c5);
}

.description:nth-child(3),
.description:nth-child(6) {
  background-color: var(--c4);
}

.description:nth-child(4) {
  background-color: var(--c2);
}

.description span {
  text-decoration: underline;
}

.description p {
  text-align: center;
}

.description ul {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2em;
  padding: 0 2em;
}

@media screen and (max-width: 1000px) {
  .StoryMainContainer {
    padding: 2em 1em;
  }

  .description {
    margin: 0 0;
  }

  .description ul {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
